extends layout

block content
  h1
    a(href="/board")= title
  form(method="POST" action="/board/create")
    table
      tr
        th(scope="row") 제목
        td
          input(type="text" name="title" placeholder="제목을 입력하세요" size="68")
      tr
        th(scope="row" valign="top") 내용
        td
          textarea(name="description" placeholder="갓홍동에 관한 내용을 써주세요" rows="4" cols="50")
    input(type="submit" value="작성하기")

